# .vscode
.vscode/launch.json 

# Env files
.env*
*.env
 
# Python Environment folder 
.env/*
 
# No neeeds ...
## Pythons 
*-checkpoint.ipynb
*-checkpoint.html

__pycache__/
*.pyc  


te.ss
PYTHON 101/Error Handling and File Handling/Error Handling and File Handling.ipynb
